.container{
    display:flex;
    flex-wrap: wrap;
    width: 1100px;
}

.story-1{
    display: flex;
    height: 300px;
    width: 300px;
    background-color:aquamarine;
    
}

.story-2{
    display: flex;
    height: 300px;
    width: 300px;
    background-color:black;
    
}

.story-3{
    display: flex;
    height: 300px;
    width: 300px;
    background-color:orange;
    
}

.story-4{
    display: flex;
    height: 300px;
    width: 300px;
    background-color:coral;
    
}